graphs-controls .checkbox, [graphs-controls] .checkbox {
  display: inline-block;
  padding-right: 1em; }

stocks-graph .axis path,
stocks-graph .axis line, [stocks-graph] .axis path,
[stocks-graph] .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }
stocks-graph .line, [stocks-graph] .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px; }
  stocks-graph .line:hover, [stocks-graph] .line:hover {
    stroke-width: 6px;
    opacity: 0.7;
    cursor: pointer; }
stocks-graph [data-id="1"] .line, [stocks-graph] [data-id="1"] .line {
  stroke: blue; }
stocks-graph [data-id="2"] .line, [stocks-graph] [data-id="2"] .line {
  stroke: red; }
stocks-graph [data-id="3"] .line, [stocks-graph] [data-id="3"] .line {
  stroke: green; }

stocks-grid .grid, [stocks-grid] .grid {
  position: relative;
  overflow-x: scroll; }
stocks-grid .company-name, [stocks-grid] .company-name {
  min-width: 170px; }
stocks-grid .stock-info, [stocks-grid] .stock-info {
  min-width: 130px; }
