graphs-controls .checkbox, [graphs-controls] .checkbox {
  display: inline-block;
  padding-right: 1em; }

stocks-graph .axis path,
stocks-graph .axis line, [stocks-graph] .axis path,
[stocks-graph] .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }
stocks-graph .x.axis path, [stocks-graph] .x.axis path {
  display: none; }
stocks-graph .line, [stocks-graph] .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }
stocks-graph [data-id="1"] .line, [stocks-graph] [data-id="1"] .line {
  stroke: blue; }
stocks-graph [data-id="2"] .line, [stocks-graph] [data-id="2"] .line {
  stroke: red; }
stocks-graph [data-id="3"] .line, [stocks-graph] [data-id="3"] .line {
  stroke: green; }
stocks-graph .tooltip, [stocks-graph] .tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none; }

a {
  color: red; }
