body {
  margin: 20px; }

a {
  color: red; }

stocks-graph .axis path,
stocks-graph .axis line, [stocks-graph] .axis path,
[stocks-graph] .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }
stocks-graph .x.axis path, [stocks-graph] .x.axis path {
  display: none; }
stocks-graph .line, [stocks-graph] .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

a {
  color: red; }
