stocks-graph, [stocks-graph] {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }


  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
    &:hover {
      stroke-width: 6px;
      opacity: 0.7;
      cursor: pointer;
    }
  }

  [data-id="1"] .line {
    stroke: blue;
  }

  [data-id="2"] .line {
    stroke: red;
  }

  [data-id="3"] .line {
    stroke: green;
  }
}